#Login {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 5px;
}

/*loggi sisse ja välja nupp*/
#button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    float: right;
    margin-top: -3px;
    margin-right: 15px;
    border: 0;
}

#submit {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    border:0;
    cursor: pointer;
}

#vali {
    border:solid 1px #dddddd;
}



#button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    cursor: pointer;
}

label {
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
}

input {
    margin-right: 20px;
}

p {
    font-family: arial;
    margin-left: 25px;
    margin-top: 25px;
}

#tunnimaterjal {
    position: absolute;
    top: 10%;
    left: 25%;
    padding-bottom: 50px;
    width: 50%;
    height: auto;
    background-color: #fff;
    border: solid 1px #f3f3f3;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05);
}

#pealeht {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 500px;
    background-color: #f3f3f3;
    background-color: #fff;
    border: solid 1px #f3f3f3;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05);
}

h1 {
    text-align: center;
    color: white;
    font-family: arial;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    display: block;
    background-color: #00cccc;
    margin-top: -0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*kuvab tere tulemast css*/
#loggedin {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 25px;
}

.headtext {
    margin-right: 20px;
    display: inline;
    font-family: Arial;
    font-size: 14px;
}

.body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

#main-bar {
    background-color: #eee;
    display: inline-block;
    float: left;
    width: 100%;
    height: 50px;
    margin: auto;
    border-bottom: solid 1px #dfdfdf;
}

.logo {
    width: 200px;

}

#tabel {
    text-align: center;
    margin-top: -100px;
    border: solid 1px;
    background-color: rgba(238, 238, 238, 0.10);
    margin-left: 500px;
}

.menuu {

}

.meny {
    display: block;
    color: #36caff;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgba(128, 128, 128, 0.1);
    width: 100px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
}

td {
    padding: 30px 10px 30px 20px;
    border-top: solid 1px;
}
.laeyles {
    float:right;
    margin-top: -165px;
}

/*NAVIGATION BAAR*/

#cssmenu {
    margin-top:99px;
    position:absolute;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: auto;
    overflow: auto;
    font-family:arial;
}

li a {
    display: block;
    color: #000;
    padding: 10px 0 10px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4b99ff;
    color: white;
}

li a:hover:not(.active) {
    background-color: #e3e3e3;
}

footer {
    border-top:solid 1px #e3e3e3;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    height: 50px;
}

/*tunniplaan tabel*/

table {
    font-family: 'Arial';
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05),
    0px 30px 20px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
}

tr:hover {
    background: #f4f4f4;
}

td {
    color: #555;
}

th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

table.last {
    border-right: none;
}

.suema {
    font-size: 40px;
    position: absolute;
    top: 55%;
    left: 40%;
    color: #cfcfcf;
}

h2 {
    font-family: arial;
    color: grey;
}

#loggienne {
    position: absolute;
    top: 35%;
    left: 45%;
    color: #cfcfcf;
    font-size: 70px;
}

a:visited {
    color: blue;
    text-decoration:none;
}
a{
    text-decoration:none;
}

#materjalid {

    box-shadow: none;
}

​

